<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # CORREÇÃO CRÍTICA: Forçar o envio do Header Authorization para o PHP
  RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>
